[access]
	inheritFrom = Dev-ACL-Template
[project]
	state = active
	description = CppUnit is the C++ port of the famous JUnit framework for unit testing.
[access "refs/*"]
	read = group ReplicateFDO
	owner = group cppunit-admins
	create = group cppunit-admins
	push = +force group cppunit-admins
	pushMerge = group cppunit-admins
	pushTag = group cppunit-admins
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
	mergeContent = true
